*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --black: #2b283a;
  --white: #ffffff;
  --green: #59e391;
  --lblack: #0b2434;
  --lgray: #4a4e74;
  --blue: #5035ff;
  --cream: #f5f5f5;
}

body {
  background-color: var(--lblack);
  display: grid;
  min-height: 100vh;
  place-items: center;
}

button {
  border: none;
  cursor: pointer;
  transition: background-color, transform ease-in 200ms;
}

p {
  font-family: "Inter", sans-serif;
}

main {
  background-color: var(--cream);
  width: min(500px, 100vw - 2rem);
  margin-inline: auto;
  text-align: center;
  padding: min(2rem, 7vw);
  border-radius: 1rem;
}

main h1,
.die,
.roll {
  font-family: "Karla", sans-serif;
}

main h1,
p {
  padding-block-end: 1rem;
}

.dices {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: min(2rem, 4vw);
  padding-block: 1rem;
}

.die {
  max-width: 3rem;
  padding-block: 0.7rem;
  font-size: 1.5rem;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.die:hover {
  background-color: #d6e4e5;
  transform: skewY(10deg);
}

.die:hover:nth-child(even) {
  transform: skewY(-10deg);
}

.roll {
  margin-block-start: 1.5rem;
  padding: 0.7rem 3rem;
  background-color: var(--blue);
  border-radius: 5px;
  color: var(--white);
  font-size: 1.5rem;
}

.roll:hover {
  background-color: #4b56d2;
  transform: scale(0.9);
}

/* Incase of Dice Faces*/

.die:has(span) {
  min-width: 55px;
  height: 55px;
  position: relative;
  padding-block: 0;
  padding-inline: 0;
}

.die:has(span):hover,
.die:has(span):hover:nth-child(even) {
  transform: skewY(0deg);
}

.die span {
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: var(--black);
}

.die span:first-child:nth-last-child(1) {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.die span:first-child:nth-last-child(2) {
  top: 15px;
  right: 15px;
}

.die span:first-child:nth-last-child(2) ~ span {
  bottom: 15px;
  left: 15px;
}

.die span:first-child:nth-last-child(3) {
  top: 10px;
  right: 10px;
}

.die span:first-child:nth-last-child(3) ~ span {
  bottom: 10px;
  left: 10px;
}

.die span:first-child:nth-last-child(3) ~ span:nth-child(2) {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.die span:first-child:nth-last-child(4) {
  top: 10px;
  right: 10px;
}

.die span:first-child:nth-last-child(4) ~ span:nth-child(2) {
  top: 10px;
  left: 10px;
}
.die span:first-child:nth-last-child(4) ~ span:nth-child(3) {
  bottom: 10px;
  left: 10px;
}

.die span:first-child:nth-last-child(4) ~ span:nth-child(4) {
  bottom: 10px;
  right: 10px;
}

.die span:first-child:nth-last-child(5) {
  top: 10px;
  right: 10px;
}

.die span:first-child:nth-last-child(5) ~ span:nth-child(2) {
  top: 10px;
  left: 10px;
}
.die span:first-child:nth-last-child(5) ~ span:nth-child(3) {
  bottom: 10px;
  left: 10px;
}

.die span:first-child:nth-last-child(5) ~ span:nth-child(4) {
  bottom: 10px;
  right: 10px;
}
.die span:first-child:nth-last-child(5) ~ span:nth-child(5) {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.die span:first-child:nth-last-child(6) {
  top: 10px;
  right: 10px;
}

.die span:first-child:nth-last-child(6) ~ span:nth-child(2) {
  top: 10px;
  left: 10px;
}
.die span:first-child:nth-last-child(6) ~ span:nth-child(3) {
  top: 0;
  bottom: 0;
  left: 10px;
  margin: auto;
}

.die span:first-child:nth-last-child(6) ~ span:nth-child(4) {
  top: 0;
  bottom: 0;
  margin: auto;
  right: 10px;
}
.die span:first-child:nth-last-child(6) ~ span:nth-child(5) {
  bottom: 10px;
  right: 10px;
}
.die span:first-child:nth-last-child(6) ~ span:nth-child(6) {
  bottom: 10px;
  left: 10px;
}
