*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --black: #2b283a;
  --white: #ffffff;
  --green: #59e391;
  --lblack: #0b2434;
  --lgray: #4a4e74;
  --blue: #5035ff;
  --cream: #f5f5f5;
}

body {
  background-color: var(--lblack);
  display: grid;
  min-height: 100vh;
  place-items: center;
}

button {
  border: none;
  cursor: pointer;
  transition: background-color, transform ease-in 200ms;
}

p {
  font-family: "Inter", sans-serif;
}

main {
  background-color: var(--cream);
  width: min(500px, 100vw - 2rem);
  margin-inline: auto;
  text-align: center;
  padding: 2rem;
  border-radius: 1rem;
}

main h1,
.die,
.roll {
  font-family: "Karla", sans-serif;
}

main h1,
p {
  padding-block-end: 1rem;
}

.dices {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  padding-block: 1rem;
}

.die {
  max-width: 3rem;
  padding-block: 0.7rem;
  font-size: 1.5rem;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  /* box-shadow: 0px 4px 4px var(--lblack); */
}

.die:hover {
  background-color: #d6e4e5;
  transform: skewY(10deg);
}

.die:hover:nth-child(even) {
  transform: skewY(-10deg);
}

.roll {
  margin-block-start: 1.5rem;
  padding: 0.7rem 3rem;
  background-color: var(--blue);
  border-radius: 5px;
  color: var(--white);
  font-size: 1.5rem;
}

.roll:hover {
  background-color: #4b56d2;
  transform: scale(0.9);
}
